{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Control</title>
	<link rel="website icon" type="png" href="https://i.pinimg.com/564x/a4/32/f8/a432f8ce6336a86ae4fc649c497e086b.jpg">
	<link rel="stylesheet" href="{% static 'css/password_page_style.css' %}">

</head>

<body>
	<div>
		<form method="post">
			{% csrf_token %}
			<h1>To safeguard user privacy and prevent unauthorized access to sensitive personal infomation, entering a valid password is required</h1>
			<div>
				<input type="text" id="userNameID" name="userNameBlock" placeholder="Username (Optional)">
			</div>

			<div>
				<input type="password" id="password" name="password" placeholder="Password" required>
			</div>
			
			<div>
				<input type="submit" value="Enter">
			</div>

		</form>
		{% if error_message %}
			<script>
				alert("{{ error_message|escapejs }}");
			</script>		
		{% endif %}
	</div>
	</body>
</html>